/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

:root {
    --black: #2F2F2F;
    --orange: #FDC248;
    --white: #FFFFFF;
  }


@font-face {
    font-family: 'Evolventa';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Evolventa-Regular-BF63c0b29a31dbb.woff') format('woff');
}
@font-face {
    font-family: 'Evolventa';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Evolventa-Regular-BF63c0b29a31dbb.woff2') format('woff2');
}
@font-face {
    font-family: 'Evolventa';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Evolventa-Regular-BF63c0b299b11fc.otf') format('otf');
}
@font-face {
    font-family: 'Evolventa';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Evolventa-Regular-BF63c0b29a31dbb.ttf') format('ttf');
}

@font-face {
    font-family: 'Evolventa';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Evolventa-Bold-BF63c0b29a3afd5.woff2') format('woff2');
}
@font-face {
    font-family: 'Evolventa';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Evolventa-Bold-BF63c0b29a0a013.otf') format('otf');
}
@font-face {
    font-family: 'Evolventa';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Evolventa-Bold-BF63c0b29a3afd5.ttf') format('ttf');
}

@font-face {
    font-family: 'Evolventa';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Evolventa-Bold-BF63c0b29a3afd5.woff') format('woff');
}


body {
    line-height: 1;
    height: 100vh;
    background-color: #fff;
}

.body-block {
    overflow: hidden;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--color-title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Evolventa', sans-serif;

}

.scroll--block {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    line-height: 1;
    height: 100vh;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}




html {
    font-size: calc(100vw / 1440 * 10);
}

@media (max-width: 1024) {
    html {
        font-size: calc(100vw / 768 * 10);
    }
}

@media (max-width: 767px) {
    html {
        font-size: calc(100vw / 500 * 10);
    }

    .main {
        flex: 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: calc(100vw / 375 * 10);
    }
}

body {
    background-image: url('../img/back.jpg');
    background-repeat: repeat-y;
    background-size: 100% 90rem; 
}




.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.head__content{
    display: flex;
    justify-content: space-between;
}

.head__container {
    padding-right: 0;
}
.head__content-left {
    background-image: url('../img/head/back.png');
    background-repeat: no-repeat;
    height: 73.7rem;
    z-index: 2;
    width: 79rem;
    background-size: 100% 100%;
}




.head__content-left__top-text {
    color: var(--white, #FFF);
    font-family: Evolventa;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8rem;
    margin-top: 9rem;
}
.head__title {
    color: var(--orange);
font-family: Evolventa;
font-size: 5.7rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 2.8rem;
max-width: 66rem;
}
.head__subtitle {
    color: var(--white, #FFF);
font-family: Evolventa;
display: block;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 33rem;
margin-bottom: 8rem;
position: relative;
padding-bottom: 1.4rem;
}
.head__subtitle:after{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: var(--orange);
    right: 0;
    left: 0;
    height: 0.2rem;
}
.btn {
    border-radius: 4.4rem;
    background: var(--orange, #FDC248);
    padding: 2.2rem 6.2rem 2.2rem 1.4rem;
    font-size: 2.9rem;
    cursor: pointer;
    position: relative;
}

.btn::after {
    content: ""; /* Додайте цей рядок, якщо ви хочете відобразити псевдоелемент */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    right: 2.7rem;
    width: 2.5rem; /* Використовуйте відносні одиниці, якщо хочете масштабування */
    height: 2.5rem;
}

.head__content-right {
     position: absolute;
     right: 0;
     top: 0;
}
.head__content-img {
    width: 70.5rem;
    height: 73.7rem;
} 
